<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>
    <title>{% block title %}{% endblock %} - EpyTodo</title>
  </head>
  <body>
    <header>
      {% block header %}
        {% include 'modules/header.html' %}
        {% include 'modules/navbar.html' %}
        {% include 'auth/auth.html' ignore missing %}
      {% endblock %}
    </header>
    {% include 'modules/messages.html' %}
    <div id="main">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
