<div class="ui modal" id="login-form">
    <div class="header"> Login to your account </div>
    <div class="content">
        <form action='/signin' method='post' class='ui form'>
        <div class="field">
            <label> Username : </label>
            <input type='text' name='username'>
        </div>
        <div class="field">
            <label> Password : </label>
            <input type='password' name='password'>
        </div>
        <button class="ui button" type="submit"> Submit </button>
        </form>
    </div>
</div>